<% content_for :meta do %>
  <% meta :keywords => %w(chupandero cerveza puebla amigos) %>
  <% meta [:property => "og:image", :content => @bar.image1] %>
  <% meta [:property => "og:description", :content => @bar.name] %>
  <% meta [:property => "og:type", :content => "website"] %>
  <% meta [:property => "og:title", :content => " Chupandero - Descubre los mejores bares de Puebla"] %>
  <% meta [:property => "og:url", :content => "http://chupandero.com/"] %>
<% end %>

<div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item">
          <img src="../assets/img/examples/slide-01.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Example headline.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Sign up today</a>
            </div>
          </div>
        </div>
        <div class="item active left">
          <img src="../assets/img/examples/slide-02.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Learn more</a>
            </div>
          </div>
        </div>
        <div class="item next left">
		  <%= image_tag('cover.png')%>
          	<div class="container">
            <div class="carousel-caption">
              <h1>Encuentra los mejores bares de Puebla.</h1>
              <p class="lead">Reseñas, noticias y promos espectaculares de la Ciudad.</p>
              <%= link_to "Visita nuestra ultima reseña", @bar, class: "btn btn-large btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    </div>


	<div class="container marketing">
		<div class="span7 offset5"><h1> Reseñas </h1></div>
	      <!-- Three columns of text below the carousel -->
	      <div class="row">
		      	<% @bars.each do |bar| %>
		      		<div style="background-color:white; border: 1px solid #DDD; margin-bottom:7%" id="bar-info" class="span4">
		          		<%= link_to image_tag(bar.logo, style:"height:200px"), bar %>
	          			<h2><%= link_to bar.name, bar, class:"bar_link_title" %></h2>
	          			<p><%= link_to "Leer mas »", bar, class: "btn" %></p>
		        	</div><!-- /.span4 -->
		        <% end %>
	      </div><!-- /.row -->


	      <!-- START THE FEATURETTES -->

	      <hr>
            <%= render 'layouts/footer' %>
	    </div>

<script type="text/javascript">
$(document).ready(function(){
	$('.span4').bind({
		mouseenter: 
		function(e){
			e.preventDefault();
			$(this).css("box-shadow", "3px 4px 4px 1px #d0d0d0");
			$(this).css("margin-top", "5px");
			
		},
		mouseleave:
		function (e){
			e.preventDefault();
			$(this).css("box-shadow", "none");
			$(this).css("margin-top", "10px");
			
		}
	});

  	 document.body.style.background = '#f2f2f2';
});	
</script>