<div class="container">
  <div class="row">
    <div class="span12">
      <div class="span8 offset2">
        <%= form_for(@bar) do |f| %>
          <% if @bar.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@bar.errors.count, "error") %> prohibited this bar from being saved:</h2>
              <ul>
              <% @bar.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field">
            <%= f.label :Nombre_del_bar %>
            <%= f.text_field :name %>
          </div>
          <div class="field">
            <%= f.label :Imagen_del_logo %>
            <%= f.text_field :logo %>
          </div>
          <div class="field">
            <%= f.label :Reseña %>
            <%= f.text_area :description, class: "span6", rows: 6 %>
          </div>
          <div class="field">
            <%= f.label :Direccion %>
            <%= f.text_area :address, class: "span6", rows:2 %>
          </div>
          <div class="field">
            <%= f.label :Email_del_bar %>
            <%= f.text_field :email %>
          </div>
          <div class="field">
            <%= f.label :Website %>
            <%= f.text_field :page   %>
          </div>
          <div class="field">
            <%= f.label :Telefono %>
            <%= f.text_area :phone, class: "span4", rows:2 %>
          </div>
          <div class="field">
            <%= f.label :Horarios %>
            <%= f.text_area :horary, class: "span6", rows:2 %>
          </div>
          <div class="field">
            <%= f.label :Promo %>
            <%= f.text_area :promo, class: "span6", rows:3 %>
          </div>
          <div class="field">
            <%= f.label :image1 %>
            <%= f.text_field :image1 %>
          </div>
          <div class="field">
            <%= f.label :image2 %>
            <%= f.text_field :image2 %>
          </div>
           <div class="field">
            <%= f.label :image3 %>
            <%= f.text_field :image3 %>
          </div>
           <div class="field">
            <%= f.label :image4 %>
            <%= f.text_field :image4 %>
          </div>
         <div class="field">
            <%= f.label :Direccion_en_Google %>
            <%= f.text_area :geo_address, class: "span4", rows: 2 %>
          </div>
          <div class="field">
            <%= f.label :Latitude %>
            <%= f.text_area :latitude, class: "span4", rows: 2  %>
          </div>
          <div class="field">
            <%= f.label :Longitude %>
            <%= f.text_area :longitude, class: "span4", rows: 2  %>
          </div>
          <div class="actions">
            <%= f.submit %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>