<div class="modal-chupandero">
  <div style="float:right">
  	<button type="button" class="close-button" data-dismiss="modal" aria-hidden="true">X</button>
  </div>
  <div class="modal_body">
	<div class="span8">
		<iframe width="825" height="550" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.mx/maps?f=q&amp;source=s_q&amp;hl=es&amp;geocode=&amp;q=Puebla&amp;aq=&amp;sll=<%= @bar.latitude %>,<%= @bar.longitude %>&amp;sspn=<%= @bar.latitude %>,<%= @bar.longitude %>&amp;ie=UTF8&amp;hq=&amp;hnear=<%= @bar.geo_address%>&amp;ll=<%= @bar.latitude%>,<%= @bar.longitude %>&amp;spn=0.022397,0.038581&amp;t=m&amp;z=18&amp;output=embed&iwloc=near"></iframe>
	</div>
  </div>
</div>