<% content_for :meta do %>
  <% meta :keywords => %w(chupandero cerveza puebla amigos) %>
  <% meta [:property => "og:image", :content => "https://launchrock-assets.s3.amazonaws.com/facebook-files/OM38ZA8H_1361245291491.jpg?_=1"] %>
  <% meta [:property => "og:description", :content => "Descubre los mejores bares de Puebla - chupandero.com"] %>
  <% meta [:property => "og:type", :content => "website"] %>
  <% meta [:property => "og:title", :content => " Chupandero - Descubre los mejores bares de Puebla"] %>
  <% meta [:property => "og:url", :content => "http://chupandero.com/bars/#{@bar.id}"] %>
<% end %>

  <div class="row-fluid">
    <div class="span12">
        <div class="span3" id="main_menu">
        <div class="main_logo">
          <%= image_tag(@bar.logo, style:"width:327px; height: 300px")%>
          <!-- <%= image_tag "http://maps.google.com/maps/api/staticmap?size=400x400&sensor=false&zoom=16&markers=#{@bar.latitude}%2C#{@bar.longitude}"%> -->
        <!--  <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.mx/maps?f=q&amp;source=s_q&amp;hl=es&amp;geocode=&amp;q=Puebla&amp;aq=&amp;sll=23.554132,-102.6205&amp;sspn=19.738439,34.40918&amp;ie=UTF8&amp;hq=&amp;hnear=Circuito+Juan+Pablo+II,+Puebla&amp;ll=<%= @bar.latitude%>,<%= @bar.longitude %>&amp;spn=0.022397,0.038581&amp;t=m&amp;z=14&amp;output=embed&iwloc=near"></iframe>-->
        </div>
        <hr style="margin:0">
        <div style="text-align:center" id="bar_title">
          <%= @bar.name %>
        </div>
        <hr style="margin:0">
        <p id="bar_info">
          <img style="width:20px" src="http://i1275.photobucket.com/albums/y450/wuichotron/iconolugar_zps3f4a62c6.png"/>
          <%= @bar.address%>
          <br/>
          <%= link_to "Ver mapa", map_path(:bar_id => @bar.id), {:id => "modal", :rel => "tab", :remote => true, 'data-controls-modal' =>  "modal-window", 'data-backdrop' => true, 'data-keyboard' => true} %>
        </p>
        <p id="bar_info">
          <img style="width:20px" src="http://i1275.photobucket.com/albums/y450/wuichotron/iconocadena_zps32b20549.png"/>
          <%= link_to @bar.page, @bar.page, target: "_blank" %>
          <br/>
        </p>
        <% if @bar.email.present? %>
          <p id="bar_info">
            <img style="width:20px" src="http://i1275.photobucket.com/albums/y450/wuichotron/iconomensaje_zps27da851b.png"/>
            <%= link_to @bar.email, "#" %>
            <br/>
          </p>
        <% end %>
        <p id="bar_info">
          <img style="width:20px" src="http://i1275.photobucket.com/albums/y450/wuichotron/iconotiempo_zps4edce200.png"/>
          Horarios:<br/> <%= @bar.horary %>
        </p>
        <p id="bar_info">
          <img style="width:20px" src="http://i1275.photobucket.com/albums/y450/wuichotron/iconoinfo_zps2b2a56c7.png"/>
          Teléfono: <br/> <%= @bar.phone %>
        </p>
      </div>
      <div class="row-fluid">
        <div style="margin-left: -44px; margin-top: -8px;">
          <div class="span9 offset3">
            <p id="notice"><%= notice %></p>
            <div id="myCarousel" style="height:378px; margin:0; box-shadow: 0px 6px 15px 2px; -webkit-box-shadow: 2px 6px 15px 1px;" class  ="carousel slide">
                  <!-- Carousel items -->
               <div class="carousel-inner">
              <div class="active item"><%= image_tag(@bar.image1, style: "max-height:378px; max-width: 900px ")%></div>
                <div class="item"><%= image_tag(@bar.image2,  style: "max-height:378px; max-width: 900px")%></div>
              </div>
              <!-- Carousel nav -->
              <a style="display:none" class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
              <a style="display:none" class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
            </div>
            <div class="span10">
              <h1 class="promo" >
                "<%= @bar.promo%>"
              </h1>
              <div style="float:right" class="fb-like" data-href="http://chupandero.com/bars/1" data-send="false" data-layout="box_count" data-width="200" data-show-faces="false" data-action="recommend"></div>
              <div class="span9 offset1">
                <p class="resena">
                  <%= @bar.description.html_safe %>
                </p>
                <hr>
                <br>
                <div class="fb-comments" data-href="http://chupandero.com/bars/<%= @bar.id %>" data-width="650" data-num-posts="10"></div>
              </div>
            </div>
            <%= render 'layouts/footer' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<div id="fb-root"></div>
<script>

(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=458747400865661";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk')); 
  
  $(function(){
    $('.carousel').carousel({
        interval: 3000,
      pause: 'hover'
    });
  });
</script>

